*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}
.html_overflow{
	overflow-y: hidden;
}

body {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
  padding: 0 10px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
textarea, input[type="text"], input[type="pasword"]{
	outline: none;
	resize: none;
}
input[type="date"]{
	outline: none;
}

/*Страница*/
.MainPage{
	position: relative;
	min-width: 800px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto 10px;
}
/*Header*/
.header{
	padding: 5px 10px;
	background: #5c6c8a;
	color: #ffffff;
}

/* Контент */
.Content{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 10px;
}
.Content__body{
	flex: 1;
}
.Content__side-bar{
	width: 300px;
}
.con-body{
	margin-right: 10px;
	width: 600px;
}
.content_default{
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #ffffff;
}
.content_left{
	flex-direction: row-reverse;
}
.content_left .con-body{
	margin-right: 0;
	margin-left: 10px;
}
/*Страница авторизации*/
.PageStart{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	min-width: 320px;
	margin: 0 -10px;
	background-color: #000000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7))), url(../img/bigBackground.jpg);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../img/bigBackground.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

/*Мобильная версия*/
.MainPageMobile{
	min-width: 320px;
	max-width: 800px;
}
