*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}

body {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
}
a{
	text-decoration: none;
	cursor: pointer;
}
textarea, input[type="text"]{
	outline: none;
	resize: none;
	background: transparent;
	color: #000000;
}
input[type="date"]{
	outline: none;
}

/*Страница*/
.MainPage{
	position: relative;
	min-width: 800px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto 10px;
}
/*Header*/
.header{
	padding: 5px 10px;
	background: #5c6c8a;
	color: #ffffff;
}

/* Контент */
.Content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin: 0 10px;
}
.Content__body{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.Content__side-bar{
	width: 300px;
}
.con-body{
	margin-right: 10px;
	width: 600px;
}
.content_default{
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #ffffff;
}






