*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}
.html_overflow{
	overflow-y: hidden;
}

body {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
  padding: 0 10px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
textarea, input[type="text"]{
	outline: none;
	resize: none;
	background: transparent;
	color: #000000;
}
input[type="date"]{
	outline: none;
}

/*Страница*/
.MainPage{
	position: relative;
	min-width: 800px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto 10px;
}
/*Header*/
.header{
	padding: 5px 10px;
	background: #5c6c8a;
	color: #ffffff;
}

/* Контент */
.Content{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 10px;
}
.Content__body{
	flex: 1;
}
.Content__side-bar{
	width: 300px;
}
.con-body{
	margin-right: 10px;
	width: 600px;
}
.content_default{
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #ffffff;
}







/*Мобильная версия*/
.MainPageMobile{
	min-width: 320px;
	max-width: 800px;
}



.content-data-head{
	display: flex;
	align-items: center;
}
/* .content-photo_mobile{
	padding-left: 0px;
}
.photo-edit_mobile{
	left: 0;
}
.content-photo__img_mobile{
	width: 75px;
	height: 75px;
	border-radius: 50%;
} */
/* .content-feed_mobile{
	max-height: 250px;
	overflow-y: auto;
}
.messageMobile{
	width: 100%;
}
.message-content_mobile{
	flex: 1;
} */



/* @media (max-width: 600px) {
	.slider-container__item_four{
		flex: 0 0 33.3333%;
		width: 33.3333%;
	}
}
@media (max-width: 400px) {
	.slider-container__item_four{
		flex: 0 0 50%;
		width: 50%;
	}
} */
