.createrPost{
    font-size: 1.5em;
}

.createrPost__header{
    margin-bottom: 2em;
}

.createrPost__fieldForText{
    display: flex;
    width: 98%;
    min-height: 250px;
    border-radius: 0.5em;
    padding: 0.3em;
    margin-bottom: 0.3em;
}

.createrPost__fieldForImg{
    display: flex;
    border: dashed thin;
    border-radius: 0.5em;
    width: 98%;
    min-height: 30px;
    padding: 0.3em;
    margin-top: 0.7em;
}

.createrPost__buttons{
    margin: 1.3em 0 0.7em 0;
    display: flex;
    color:#729ee6;
    justify-content: space-between;
}

.createrPost__buttonCreate:hover, .createrPost__buttonUnvisibleField:hover{
    text-decoration: underline;
    cursor: pointer;
}

.createrPost__text, .createrPost__fieldForText {
    line-height: 1.3em;
}

.unvisibleField{
    margin-top: 1em;
    display: none;
}

.gallary {
    display:grid;
    grid-template-columns: repeat(4, 20%);
    grid-row: 100px;
}
.gallery img {
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
    object-fit: contain;
}