.modal,.modalSlidder,.modalAddPhoto{
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
}
.modalSlidder,.modalAddPhoto{
	z-index: 1000;
}
.modal-content {
 	position: fixed;
 	left: 50%;
 	top: 50%;
 	background-color: #fff;
 	transform: translate(-50%, -50%);
 	width: calc(100% - 120px);
 	height: calc(100% - 120px);
 	border-radius: 10px;
 	padding: 10px;
}
.modal-content_sizeAuto{
	width: auto;
	height: auto;
}
.modal-content_big{
	position: static;
	display: block;
	margin: 20px auto;
	border-radius: 10px;
	padding: 10px;
	background-color: #fff;
	max-width: 700px;
	transform: translate(0%, 0%);
	height: auto;
}
.modal-content_dark{
	background: #0f0f0f;
}
.modal-content_white{
	background: #f5f5f5;
}

.modal__close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.modal__close_icon{
	stroke:#fff;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:2px;
}
.modal-photo,.drop{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.drop{
	margin: 50px;
	height: calc(100% - 100px);
	width: calc(100% - 100px);
	flex-direction: column;
	border: 4px dashed #000;
	min-height: 400px;
}
.drop_border{
	border-style: solid;
}
.modal-photo__img{
	max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
.drop-container{
}
.drop-container__empty{
  width: 150px;
  height: 150px;
}
.drop-container__emptyImg{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.drop-container__list{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.drop-container__empty_none,.drop-container__list_none{
  display: none;
}
.drop-container__item{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px;
}
.drop-container__img{
  width: 150px;
  height: 150px;
}
.drop-container__itemDelete{
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background:rgba(0,0,0,.2);
  opacity: 0;
}

.drop-container__item:hover .drop-container__itemDelete{
  transition: all 0.5s ease-out;
  opacity: 1;
}

.drop-container__itemDelete_icon{
  	stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
.drop-container__error{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: #fff;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  z-index: 1;
  text-align: center;
}
.drop-container__itemDelete_none,.drop-container__error_none{
  display: none;
}

.drop__title{
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
}

.drop__input_none{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -500;
}
.drop__label{
  text-transform: uppercase;
  color: #729ee6;
  cursor: pointer;
}
.drop__send{
	margin: 10px 0;
	text-align: center;
	height: 34px;
}
.drop__sendButton{
	display: none;
	width: 100%;
	height: 34px;
	color: #fff;
	background: #729ee6;
	border: none;
	border-radius: 10px;
	padding: 7px 10px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
.drop__sendButton_active{
	display: block;
}
.drop__message{
	margin: 10px 0;
	text-align: center;
	font-size: 14px;
	color: #ff0000;
}



.galleryBig{
	padding: 5px;
}
.galleryBig__head{
	display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom:15px;
    font-size: 1.4rem;
}

.galleryBig__title{
	display: block;
    margin-bottom: -1px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    font-weight: bold;
}

.galleryBig__add{
	margin-bottom: -1px;
    padding-bottom: 1px;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    color: #729ee6;
    outline: none;
    cursor: pointer;
}
.galleryBig__add:hover{
	border-color:#729ee6;
}



.galleryBig__container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
	justify-items: center;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.galleryBig__imgContainer{
	width: 100%;
	min-height: 100px;
	position: relative;
}

.galleryBig__img{
	height: 300px;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}

.galleryBig__imgDelete{
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background:rgba(0,0,0,.2);
	opacity: 0;
}
.galleryBig__imgDelete_mobile{
	opacity: 1;
}
.galleryBig__imgContainer:hover .galleryBig__imgDelete{
    transition: all 0.5s ease-out;
	opacity: 1;
}

.galleryBig__imgDelete_icon{
	stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
.galleryBig__restore{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0, 0.8);
	font-size: 2rem;
}
.galleryBig__restoreButton{
	border: none;
	background: transparent;
	cursor:pointer;
	color: #fff;
	outline: none;
}


/*Окно предупреждения*/
.warning{
	width: 100%;
	background: transparent;
	font-size: 16px;
}
.warning__title{
	background: #5c6c8a;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding: 20px;
}
.warning-content{
	padding: 30px 20px;
	background: #fff;	
}
.warning-footer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	background: #e8e8e8;
	border-top: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
}
.warning__cansel,.warning__act{
	margin: 0px 10px;
	padding: 7px 15px;
	background: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
.warning__cansel{
	color: #5c6c8a;
}
.warning__cansel:hover{
	color: #fff;
	background: #5c6c8a
}
.warning__act{
	margin-right: 0px;
	background: #5c6c8a;
	color: #fff;
}
.warning__act:hover{
	opacity: 0.9;
}
