.createrPost{
    font-size: 1.5em;
}

.createrPost__header{
    margin-bottom: 2em;
}

.createrPost__fieldForText{
    display: flex;
    width: 98%;
    min-height: 250px;
    border-radius: 0.5em;
    padding: 0.3em;
}

.createrPost__buttons{
    margin-top: 2em;
    display: flex;
    color:#729ee6;
    justify-content: space-between;
}

.createrPost__buttonCreate:hover, .createrPost__buttonAdd:hover{
    text-decoration: underline;
    cursor: pointer;
}

.createrPost__text, .createrPost__fieldForText {
    line-height: 1.3em;
}