.modal-friends{
    display: block;
    font-size: 1.5em;
}

.modal-friends_textInfo{
    display: flex;
    justify-content: center;
}

.modal-friends_title{
    padding-bottom: 0.3em;
    font-size: 1.1em;
    color: #365baa;
}

.modal-friends_friends, .modal-friends_subscribers, .modal-friends_requests, .modal-friends_allUsers{
    padding: 1em 0;
}

.modal-friends_list{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
}

.modal-friends_card{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.card_photo, .cap{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card_photo{
    object-fit: cover;
}

.cap{
    background-color: #c0bebe;
}

.card_title{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: center;
}
@media (max-width: 600px) {
    .modal-friends_list{
        grid-template-columns: repeat(2, 50%);
    }
}

