.header{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	background: #5c6c8a;
	color: #fff;
}
.header_white{
	color: #ffffff;
}
.header__right{
	flex:1;
	display: flex;
	align-items: center;
	padding-right: 5px;
	justify-content: flex-end;
}	
.header__status{
	font-size: 1.4rem;
	font-weight: 600;
}
.header__edit{
	font-size: 1.2rem;
	opacity: 0.7;
	cursor: pointer;
}
.header__photo{
	margin: 0 10px 0 13px;
	width: 30px;
	height: 30px;
}
.header__img{
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
.header-menu{
	position: relative;
	height: 18px;
	padding: 3px;
	cursor: pointer;
}
.header-menu_icon{
	height: 18px;
	width: 10px;
	object-fit: cover;
}

.header-menu__list{
	display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background: #000;
    color: #fff;
    vertical-align: middle;
    padding: 1px 6px;
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 2;
}
.header-menu__list_active{
	display: block;
}

.header-menu__list::before,
.header-menu__list::after {
  z-index: 3;
  content: '';
  position: absolute;
  right: -7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid #000;
}
.header-menu__list::after {
  border-bottom: 7px solid #000;
  top: -14px;
}

.header-menu__item{
	display: block;
    text-align: right;
    color: #fff;
    font-size: 1.3rem;
    padding: 2px 6px;
    margin: 3px 0;
    cursor: pointer;
} 

.header-menu__item:hover{
	color: #828181;
}

