.content-data{
	overflow-y: hidden;
}
.content-data__name,.content_data__aboutMe{
	overflow: hidden;
	overflow-wrap: break-word;
	  word-wrap: break-word;
	  word-break: break-all;
	  word-break: break-word;
	  -webkit-hyphens: auto;
	      -ms-hyphens: auto;
	          hyphens: auto;
}

.content-data-head{
	display: flex;
	align-items: center;
}

/* .content-data__name{
	display: block;
	margin: 10px 0 0;
	font-size: 2.5rem;
	font-weight: normal;
} */

.content-data__name {
	width: 100%;
	margin: 10px -3px;
	padding: 5px 3px;
	border: 1px solid transparent;
	font-size: 2.5rem;
	color: #333333;
	border-radius: 5px;
	outline: none;
	line-height: 1.1;
	max-height: 80px;
	overflow-y: hidden;
	white-space: pre;
	display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;  
}

.content_data__aboutMe{
	width: 100%;
	margin: 10px -3px;
	padding: 5px 3px;
	border: 1px solid transparent;
	font-size: 1.4rem;
	color: #333333;
	border-radius: 5px;
	outline: none;
	line-height: 20px;
	max-height: 76px;
	overflow-y: hidden;
	white-space: pre;
	display: -webkit-box;
	  -webkit-line-clamp: 4;
	  -webkit-box-orient: vertical;  
}
.content-data-params{
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-auto-rows: 35px;
	align-items: center;
	font-size: 1.4rem;
}
.content-data-params__key{
	color: #bfbfbf;
}
.content-data-params__value{
	display: inline-block;
	height: 16px;
	white-space: nowrap;
}
.content-data-params__input{
	margin: -3px;
	padding: 3px;
	border: 1px solid transparent;
	border-radius: 5px;
	background: transparent;
	color: #000000;
}

.content-data-params__date{
	display: none;
	border: 1px solid #ddd;
	font-size: 1.4rem;
	margin: -3px;
	padding: 3px;
	border-radius: 5px;
}
.content-data-params__date::-webkit-inner-spin-button,
.content-data-params__date::-webkit-clear-button {
  display: none;
}
.content-data-params__date::-webkit-calendar-picker-indicator{
	color: transparent;
	opacity: 1;
	background: url(../../../img/icons/svg/calendar.svg) no-repeat center;
	background-size: contain;
	cursor: pointer;
}
.content-data-params__date_night::-webkit-calendar-picker-indicator{
	color: transparent;
	opacity: 1;
	background: url(../../../img/icons/svg/calendar_white.svg) no-repeat center;
	background-size: contain;
	cursor: pointer;
}
.content-data-params__date_night{
	color: #bfbfbf;
}
.content-data-params__birthday{
	max-width:calc(100% - 30px);
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.content-data-params__horoscope{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	object-fit: cover;
}
/*Стили при редактирование*/
.content-data-params_birthday{
	display: flex;
}
.content-data-params_birthday input{
	display: none;
}
.content-data-params_birthday span, .content-data-params_birthday img{
	display: block;
}
.content-data-params_birthdayEdit{
	height: 20px;
}
.content-data-params_birthdayEdit input{
	display: block;
	background: transparent;
}
.content-data-params_birthdayEdit span, .content-data-params_birthdayEdit img{
	display: none;
}
.content-data-params__active{
	border-color:#dddddd;
}


.content-data-details{
	margin: 5px 0;
	color: #729ee6;
	font-size: 1.4rem;
	cursor: pointer;
}
.content-data-params__input{
	width: 100%;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.content-data-params_more{
	max-height: 0px;
	opacity: 0;
	transition: all 0.3s ease-out;
}
.content-data-params_moreActive{
	max-height: 70px;
	opacity: 1;
    transition: all 0.3s ease-out;
}
