/* Галлерея */
.content-gallery{
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
.content-gallery__head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	margin: 5px 5px 10px 5px;
}
.content-gallery__title{
	display: block;
	margin-bottom: -1px;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
}
.content-gallery__title_js:hover{
	border-color: #000000;
	cursor: pointer;
}
.content-gallery__add{
	margin-bottom: -1px;
	padding-bottom: 1px;
	background: transparent;
	border: none;
	border-bottom: 1px solid transparent;
    color: #729ee6;
    outline: none;
    cursor: pointer;
}
.content-gallery__add:hover{
	border-color: #729ee6;
}
.slider{
	position: relative;
	overflow:hidden;
}
.slider-container__loading{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url('../../../img/icons/gif/load.gif') no-repeat center;
	background-size: 100px 100px;
}
.slider-container__empty{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}
.slider-max{
	height: 100%;
	width: 100%;
}
.slider-arrowLeft, .slider-arrowRight{
	display: none;
	position: absolute;
	top: 50%;
	padding: 5px;
	transform: translateY(-50%);	
	background: rgba(0,0,0,0.7);
	z-index: 1;
	cursor: pointer;
}
.slider-arrowLeft{
	margin-left: 5px;
	padding-left: 0;
	left: 0;
}
.slider-arrowRight{
	margin-right: 5px;
	padding-right: 0;
	right: 0;
}
.slider-arrowLeft__icon, .slider-arrowRight__icon{
	display: block;
	height: 30px;
	width: 20px;
	object-fit: cover;
	fill: #ffffff;
	opacity: 0.5;
}
.slider-arrowLeft:hover .slider-arrowLeft__icon, .slider-arrowRight:hover .slider-arrowRight__icon{
	fill: #729ee6;
	opacity: 1;
}
.slider-container{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	transition: transform 0s ease;
	transform: translateX(0%);
}
.slider-container__item{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left:10px; 
	box-sizing: border-box;
	padding:0px 5px; 
}

.slider-container__item_gallery{
	flex: 0 0 25%;
	width: 25%;
}
.slider-container__item_modal{
	flex: 0 0 100%;
	width: 100%;
}
.slider-container__img{
	display: block;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
}
.slider-container__img_min{
	height: 150px;
}
.slider-container__img_max{
    max-height: 100%;
    max-width: 100%;
    height: auto;
	width:auto;
    object-fit: contain;
}
.slider-bufer{
	display: none;
}

@media (max-width: 800px) {
	.slider-container__item_gallery{
		flex: 0 0 33.3333%;
		width: 33.3333%;
	}
}
