/*Пост*/
.post, .comment{
	border-bottom: 1px solid #ddd;
	position: relative;
}

.post{
	padding-top: 20px;
	width: 100%;
}

.comment{
	padding-top: 7px;
	width: 90%;
}

.post__comments-for-post{
	width: 100%;
	display: grid;
	justify-items: end;
}

.post:last-child{
	margin-bottom: 0;
	padding-bottom: 0px;
	border-bottom: none;
}
.post-data{
	position: relative;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.post-data_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 3px 0 10px 0;
}

.post-data_header__title, .post-data_header__button, .post-data__button, .comment-data_button {
	font-size: 1.4rem;
}
.post-data_header__title{
	margin-left: 6px;
}

.post-data_header__button, .post-data__button, .comment_button, .comment-data_button{
	margin-right: 6px;
	color: #729ee6;
	cursor: pointer;
	padding-bottom: 1px;
	border-bottom: 1px solid #ffffff;
}
.comment-data_button{
	grid-column-start:  2;
}

.post-data__button{
	display: inline-flex;
	margin-bottom: 5px;
}

.post-data_header__button:hover, .post-data__button:hover, .comment_button:hover{
	border-bottom: 1px solid  #729ee6;
}

.post-data__delete{
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.post-data__delete img{
	width: 20px;
	height: 20px;
	object-fit: cover;
}
.post-data__link{
	width: 50px;
	margin-right: 10px;
}
.post-data{
	display: grid;
	grid-template-columns: 60px 1fr;
	font-size: 1.3rem;
}
.post-data__link{
	grid-row: span 2 / auto;
}
.comment-data__link{
	grid-row: span 3 / auto;
	align-self: start;
}

.post-img, .post-text{
	cursor: pointer;
}

.post-data__img, .post-data__cap{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.post-data__cap{
	background-color: lightsteelblue;
}

.post-data__name,.post-data__date{
	margin-right: 25px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 
.post-data__name{
	align-self: end;
	margin-bottom: 2px;
	font-weight: bold;
	color: #5c6c8a;
}
.post-data__date{
	align-self: start;
	margin-top: 2px;
	color: #bababa;
	font-weight: 600;
}

.post-text{
	word-wrap : break-word;
}

.comment-text{
	word-wrap : break-word;
}
.post-text, .comment-text{
	line-height: 1.1em;
	margin: 10px 0;
	font-size: 1.4rem;
	width: 100%;
}

.post__block-create-comment{
	margin-top: 6px;
}
.post-text_short, .comment-text_short{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	margin-bottom: 4px;
}

.post-text_short{
	height: 74px;
}

.comment-text_short{
	height: 20px;
}

.post-img__picturePopup{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	max-height: 100%;
	flex:1;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
}

.post__block-buttons{
	display: flex;
	justify-content: space-around;
	padding: 0.5rem;
}

.post__button, .comment__button{
	line-height: 1.4rem;
	font-size: 1.2rem;
	color: #a5a5a5;
	cursor: pointer;
}

.comment__button{
	grid-column-start: 2;
	justify-self: end;
}

.post__button:hover{
	text-decoration: underline;
	color: #6c77b3;
}

.post-img__picture  {
	display: block;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 7px;
}

.post-img__onePicture{
	grid-column: span 6;
	height: 300px;
}

.post-img__twoPicture{
	grid-column: span 3;
	height: 300px;
}

.post-img__threePictureBig{
	grid-column: span 6;
	height: 250px;
}

.post-img__threePictureSmall{
	grid-column: span 3;
	height: 100px;
}

.post-img__fourPicture{
	grid-column: span 3;
	height: 200px;
}

.post-img__fivePictureBig{
	grid-column: span 3;
	height: 170px;
}

.post-img__fivePictureSmall{
	grid-column: span 2;
	height: 130px;
}

.post-img__sixPictureBig{
	grid-column: span 3;
	grid-row: span 2;
	height: 300px;
}

.post-img__sixPictureMedium{
	grid-column: span 3;
	height: 146px;
}

.post-img__sixPictureSmall{
	grid-column: span 2;
	height: 130px;
}

.post-img__sevenPictureBig{
	grid-column: span 6;
	height: 250px;
}

.post-img__sevenPictureSmall{
	grid-column: span 1;
	height: 120px;
}

.post-img__eihgtPicture{
	grid-column: span 3;
	height: 200px;
}

.post-img__ninePictureBig{
	grid-column: span 2;
	height: 200px;
}

.post-img__ninePictureSmall{
	grid-column: span 1;
	height: 120px;
}

.post-img__tenPictureBig{
	grid-column: span 4;
	grid-row: span 2;
	height: 300px;
}

.post-img__tenPictureMedium{
	grid-column: span 2;
	grid-row: span 2;
	height: 300px;
}

.post-img__tenPictureSmall{
	grid-column: span 2;
	grid-row: span 3;
	height: 140px;
}

.post-img_grid{
	display: grid;
	grid-template-columns: repeat(6,16%);
	justify-content: space-between;
}

.post-img_flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.comment_field{
	width: 98%;
	height: 4em;
	font-size: 1.4rem;
	border-radius: 6px;
	padding: 1%;
}

.comment_buttons{
	display: flex;
	justify-content: flex-end;
}

.comment_button{
	font-size: 1.4rem;
	margin-left: 4px;
	display: inline-block;
}
