/*Лента*/
.content-feed__title{
	color: #bababa;
	font-size: 1.4rem;
}
/*сообщение в ленте*/
.message{
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 280px;
	color: #000000;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.message-img__avatar{
	display: block;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
}
.message-content{
	font-size: 1.3rem;
	width: 240px;
}

.message-content__title{
	display: flex;
	align-items: center;
}
.message-content__name{
	flex: 1;
	color:#5c6c8a;
	font-weight: bold;
	overflow-x:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 5px;
}

.message-content__text{
	margin-top: 5px;
	max-height: 45px;
	display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;  
	overflow: hidden;
	overflow-wrap: break-word;
	  word-wrap: break-word;
	  word-break: break-all;
	  word-break: break-word;
	  -webkit-hyphens: auto;
	      -ms-hyphens: auto;
	          hyphens: auto;
}